<li class="flex items-center">
  <LinkTo @route={{@route}} class="lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase" ...attributes>
    {{yield}}
  </LinkTo>
</li>
