<footer class="fixed md:hidden z-50 w-full bg-gray-50 bottom-0 flex flex-wrap items-center justify-between px-2 border-t">

    <div class="flex-1 text-center">
      <LinkTo @route="authenticated.password" class="lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-boldx">
        password
      </LinkTo>
    </div>


</footer>
