{{page-title "SupabaseClient"}}

<nav>
  <ul>
    {{#if this.session.isAuthenticated}}
      <li>
        <button type="button" {{on "click" this.logout}}>logout</button>
        <li><LinkTo @route="authenticated.password">password</LinkTo></li>
      </li>
    {{else}}
      <li><LinkTo @route="login">Login</LinkTo></li>
    {{/if}}
  </ul>
</nav>

{{outlet}}
