{{page-title "SupabaseClient"}}


<div class="flex flex-col h-screen text-blueGray-700 antialiased">

  <Main::Navbar />

  <main class="flex-grow">
    {{outlet}}
  </main>

  <Main::Footer />

</div>
